  {% include 'head.njk' %}
  <body class="landing-body">
    <main>
    <!-- Grab the content from the page data, dump it here, and mark it as safe -->
    <!-- Safe docs: https://mozilla.github.io/nunjucks/templating.html#safe -->

    {{ content | safe }}
    </main>
    <script src="/index.js" defer></script>
  </body>
</html>
