  {% include 'head.njk' %}
  <body class="landing-body">
   
    <!-- Grab the content from the page data, dump it here, and mark it as safe -->
    <!-- Safe docs: https://mozilla.github.io/nunjucks/templating.html#safe -->

    {{ content | safe }}
    
    {% include 'footer.njk' %}

    <script src="/index.js" defer></script>
  </body>
</html>
