  {% include 'head.njk' %}
  <body class="pages-body">
    <!-- Thanks for stopping by, I made this with 11ty, custom CSS, and a lot of dithering -->
    <!-- Feel free to look around -->
    <div>
    {% include 'nav.njk' %}
    {{ content | safe }}
    </div>
    {% include 'footer.njk' %}
    <script src="/index.js" defer></script>

  </body>
</html>
