  {% include 'head.njk' %}
  <body class="pages-body">
    <!-- Grab the content from the page data, dump it here, and mark it as safe -->
    <!-- Safe docs: https://mozilla.github.io/nunjucks/templating.html#safe -->
    <div>
    {% include 'nav.njk' %}
    {{ content | safe }}
    </div>
    {% include 'footer.njk' %}
    <script src="/index.js" defer></script>
  </body>
</html>
