/* specific blog items */
.blog.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 15rem));
  gap: 1rem;
  padding: 0;
  list-style: none;
}

.blog.post {
  display: grid;
  align-content: space-between;
  border: 8px solid var(--teal-dark);
  border-right: 60px groove var(--teal-dark);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 1rem;
  text-decoration: none;
  transition: box-shadow 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.blog.post:hover {
  box-shadow: 4px 4px 0 var(--Gray-50), 10px 10px 0 var(--teal-dark);
  transform: scale(1.02);
}

.post-title {
  font-size: var(--step-0);
}

.blog-list.dates + p {
  display: none;
}
.blog-list.dates {
  margin-top: 0.2rem;
  font-size: var(--step--3);
}

.blog-tags {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
}
.blog-tags > * {
  font-family: var(--system-fonts-mono);
  font-size: var(--step--4);
  background: var(--teal-A700);
  color: var(--Gray-50);
  border-radius: 2em;
  margin: 0.2em 0.2em;
  line-height: 1em;
  padding: 0.4em;
}

.page-dates {
  color: var(--Gray-50);
  font-size: var(--step--3);
  text-transform: uppercase;
  background: var(--teal-dark);
  width: max-content;
  padding: 0.3rem 0.3rem 0.2rem 0.3rem;
  line-height: 1;
  margin: 0;
}

.note {
  background-color: var(--orange-100);
  max-width: 70ch;
  padding: 0.2rem 2rem;
  font-size: var(--step--2);
  font-style: italic;
  border-radius: 0.5rem;
  border-left: 0.4rem solid var(--orange-400);
  position: relative;
}

q {
  quotes: '\201c''\201d';
}

.note::before {
  content: open-quote;
  font-family: var(--system-fonts-mono);
  font-size: var(--step-4);
  position: absolute;
  left: -0.2rem;
  top: 0.5rem;
  color: var(--orange-600);
}
.note::after {
  content: close-quote;
  font-family: var(--system-fonts-mono);
  font-size: var(--step-4);
  position: absolute;
  right: 1.2rem;
  bottom: -1rem;
  color: var(--orange-600);
}

.warning {
  background-color: var(--pink-200);
  max-width: 70ch;
  padding: 0.2rem 2rem;
  font-size: var(--step--2);
  font-style: italic;
  border-radius: 0.5rem;
  border-left: 0.4rem solid var(--pink-800);
  position: relative;
}

.warning > p > a {
  color: var(--gray-800);
}
.warning > p > code {
  border: var(--pink-800) solid 1px;
}

.thanks {
  --mono: 'MONO' 1;
  --casl: 'CASL' 1;
  font-size: var(--step--3);
  font-family: RecVar;
  font-variation-settings: var(--mono), var(--casl), var(--crsv), var(--slnt);
}
