/* Landing page */

.landing-wrapper {
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  display: grid;
  align-content: space-between;
  background-color: var(--Gray-50-bg);
  overflow: hidden;
}

.eye {
  position: absolute;
  right: 0vw;
  bottom: -200px;
  width: clamp(90vw, 20rem, 100vw);
  z-index: -1;
  height: 100%;
  mix-blend-mode: multiply;
  display: grid;
  justify-content: end;
}

@media (prefers-color-scheme: dark) {
  .landing-wrapper::after {
    mix-blend-mode: color;
  }
  .eye {
    mix-blend-mode: soft-light;
  }
}

.landing.main {
  display: grid;
  place-items: center;
  margin-left: clamp(1rem, calc(7vw - 2rem), 10rem);
}

/* specific element styling landing page */
.landing-body {
  overflow-x: hidden;
}

.header-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem;
  width: 90vw;
  justify-content: start;
  align-items: start;
}

.landing h1 {
  --casl: 'CASL' 0.1;
  --mono: 'MONO' 0;
  --crsv: 'CRSV' 0;
  --bg-size: 400%;
  font-weight: 1000;
  font-size: var(--step-7);
  line-height: var(--step-6);
  font-variation-settings: var(--mono), var(--crsv), var(--casl);
  background: var(--orange-pink-gradient) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  animation: move-bg 15s infinite linear;
  width: max-content;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 50%;
  }
}

.landing h2 {
  --casl: 'CASL' 1;
  --mono: 'MONO' 0;
  margin: 0;
  font-size: var(--step-0);
  font-weight: 300;
  font-variation-settings: var(--mono), var(--casl);
  line-height: var(--space-s-m);
  color: var(--Gray-800);
  margin-top: 0.5rem;
  word-wrap: break-word;
}

.recent-post-wrapper {
  border: 6px var(--pink-dark) solid;
  padding: 1rem;
  margin: 0;
  height: auto;
  width: max(300px, 75%);
  background-color: var(--pink-transparent);
}

@media (max-width: 1000px) {
  .landing h2 {
    max-width: 20ch;
    line-height: var(--space-m);
    font-weight: 600;
  }

  h1 {
    line-height: 1.1;
  }
}

/* recent blog posts */
.recent-post-header {
  font-size: var(--step-0);
}
.recent-link {
  text-decoration: none;
}
.recent-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 0 0 1rem;
  align-items: start;
  text-decoration: none;
  list-style: none;
  font-family: var(--system-fonts-mono);
  font-size: var(--step--3);
  border-left: var(--orange-dark) solid 3px;
  border-radius: 1px;
  transition: transform 0.1s ease-in-out;
}
.recent-item:hover {
  opacity: 0.8;
  transform: translateY(2px);
}

.recent.item-title {
  font-size: var(--step--1);
  text-decoration: none;
  color: var(--orange-dark);
  font-family: var(--system-fonts-sans);
}

.recent.blog-list.dates + p {
  display: none;
}
.recent.item-list.dates {
  margin-top: 0.2rem;
  font-size: var(--step--4);
  margin: 0;
}

.recent.item-tags {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  font-size: var(--step--4);
  margin: 0;
}
.recent.item-tags > li {
  margin: 0 0.2rem;
  background-color: var(--pink-dark);
  padding: 0.2rem;
  border-radius: 0.2rem;
}
