/* Landing page */

.landing-wrapper {
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  display: grid;
  align-content: space-between;
  background-color: var(--Gray-50-bg);
  overflow: hidden;
}

/* .landing-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  background: url(/images/eye.svg) center no-repeat;
  background-size: cover;
  z-index: -1;
  mix-blend-mode: multiply;
  filter: hue-rotate(0deg);
  animation: 20s linear infinite alternate hue-rotate;
} */

.eye {
  position: absolute;
  right: 0vw;
  bottom: 0vh;
  width: clamp(90vw, 20rem, 100vw);
  mix-blend-mode: soft-light;
  z-index: -1;
  height: 100%;
  display: grid;
  justify-content: end;
}

@media (prefers-color-scheme: dark) {
  .landing-wrapper::after {
    mix-blend-mode: color;
  }
}

.landing.main {
  display: grid;
  place-items: center;
  width: var(--blog-item-clamp);
  margin: 0 auto;
}

/* specific element styling landing page */
.landing-body {
  overflow-x: hidden;
}

.landing h1 {
  --casl: 'CASL' 0.5;
  --crsv: 'CRSV' 0.5;
  font-weight: 700;
  font-size: var(--step-6);
  font-variation-settings: var(--mono), var(--crsv), var(--casl);
  text-shadow: 1px 1px 0 var(--Gray-800), 1px -1px 0 var(--orange-500),
    -1px 1px 0 var(--orange-500), -1px -1px 0 var(--orange-500),
    2px 2px 0 var(--orange-500), 3px 3px 0 var(--orange-500),
    4px 4px 0 var(--orange-500), 5px 5px 0 var(--orange-500);
}

.landing h2 {
  --casl: 'CASL' 1;
  --mono: 'MONO' 0;
  margin: 0;
  font-size: var(--step-1);
  font-weight: 300;
  font-variation-settings: var(--mono), var(--casl);
  line-height: var(--space-s-m);
  color: var(--Gray-800);
  margin-top: 0.5rem;
}

@media (max-width: 1000px) {
  .landing h2 {
    max-width: 20ch;
    line-height: var(--space-m);
    font-weight: 600;
  }

  h1 {
    line-height: 1.1;
  }
}
