:root {
  --primary-orange: hsl(26, 100%, 50%);
  --orange-800: hsl(34, 100%, 50%);
  --orange-700: hsl(38, 100%, 50%);
  --orange-600: hsl(42, 100%, 50%);
  --orange-500: hsl(45, 100%, 51%);
  --orange-400: hsl(45, 100%, 58%);
  --orange-300: hsl(46, 100%, 65%);
  --orange-200: hsl(45, 100%, 75%);
  --orange-100: hsl(45, 100%, 85%);
  --amber: hsl(46, 100%, 94%);
  --orange-A700: hsl(40, 100%, 50%);
  --teal-A400: hsl(165, 82%, 51%);
  --teal-A700: hsl(172, 100%, 38%);
  --teal-dark: #008e76;
  --text-black: #424242;
  --text-white: #fafafa;
  --orange-dark: hsl(26, 100%, 10%);
  --Gray-50: #fafafa;
  --Gray-50-bg: hsla(0, 0%, 95%, 0.9);

  --Gray-100: #f5f5f5;
  --Gray-200: #eeeeee;
  --Gray-300: #e0e0e0;
  --Gray-400: #bdbdbd;
  --Gray-500: #9e9e9e;
  --Gray-600: #757575;
  --Gray-700: #616161;
  --Gray-800: #424242;
  --Gray-900: #212121;
  /* colors for prism */
  --pre-background: hsl(45, 100%, 85%);
  --pre-border: hsla(0, 0%, 40%, 1);
  --pre-shadow: hsl(0, 10, 10);
  --pre-token-keyword: hsl(233, 54%, 35%);
  --pre-token-function: hsl(20, 50%, 50%);
  --pre-token-operator: hsl(150, 50%, 50%);
  --pre-token-parameter: hsl(78, 50%, 50%);
  --pre-highlight-line-color: hsl(350, 50%, 50%);
  --pre-token-property: hsl(310, 50%, 50%);
  --pre-token-punctuation: hsl(310, 50%, 10%);
  --pre-token-selector: hsl(150, 50%, 50%);

  --pink-dark: hsl(300 80% 70% / 1);
  --dark-pink-dark: hsl(340 70% 60% / 1);
  --pink-light: hsl(320 50% 70% / 1);
  --dark-pink-light: hsl(340 70% 60% / 1);
  --pink-transparent: hsl(320 50% 50% / 0.4);

  --orange-pink-gradient: linear-gradient(
    90deg,
    hsl(300deg 80% 70%) 0%,
    hsl(339deg 89% 62%) 20%,
    hsl(18deg 96% 54%) 41%,
    hsl(18deg 96% 54%) 61%,
    hsl(339deg 89% 62%) 80%,
    hsl(300deg 80% 70%) 100%
  );
  /* custom properties for fluid tye */
  --step--4: clamp(0.63rem, 0.64rem + -0.02vw, 0.61rem);
  --step--3: clamp(0.76rem, 0.76rem + 0.01vw, 0.77rem);
  --step--2: clamp(0.91rem, 0.9rem + 0.05vw, 0.96rem);
  --step--1: clamp(1.09rem, 1.07rem + 0.11vw, 1.2rem);
  --step-0: clamp(1.31rem, 1.27rem + 0.2vw, 1.5rem);
  --step-1: clamp(1.58rem, 1.51rem + 0.32vw, 1.88rem);
  --step-2: clamp(1.89rem, 1.79rem + 0.49vw, 2.34rem);
  --step-3: clamp(2.27rem, 2.13rem + 0.72vw, 2.93rem);
  --step-4: clamp(2.72rem, 2.52rem + 1.02vw, 3.66rem);
  --step-5: clamp(3.27rem, 2.98rem + 1.42vw, 4.58rem);
  --step-6: clamp(3.92rem, 3.53rem + 1.95vw, 5.72rem);
  --step-7: clamp(4.3rem, 4.75rem + 2.15vw, 8rem);
  /* custom properties for fluid line height */

  --fluid-min-width: 320;
  --fluid-max-width: 1140;

  --fluid-screen: 100vw;

  /* hue rotate custom property */
  --rotation: 150deg;

  --blog-item-clamp: clamp(16rem, 87vw, 35rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --Gray-50: #212121;
    --Gray-50-bg: hsla(0, 0%, 5%, 0.5);
    --teal-dark: hsl(165, 82%, 51%);
    --teal-A400: hsl(165, 82%, 10%);
    --Gray-600: hsl(0, 0%, 70%);
    --Gray-800: #f5f5f5;
    --orange-dark: #f5f5f5;
    --Gray-200: #424242;
    --orange-A700: hsl(45, 100%, 51%);
    --orange-500: hsl(46, 100%, 65%);
    --pink-dark: hsl(320 50% 50% / 1);
    --dark-pink-dark: hsl(340 70% 60% / 1);
    --pink-transparent: hsl(320 50% 50% / 0.4);
    --pre-background: hsl(45, 20%, 10%);
    --pre-border: hsla(0, 0%, 70%, 1);
    --pre-shadow: hsla(0, 100%, 100%, 0.2);
    --pre-token-keyword: hsl(233, 100%, 85%);
    --pre-token-function: hsl(50, 100%, 80%);
    --pre-token-operator: hsl(150, 50%, 70%);
    --pre-token-parameter: hsl(78, 50%, 70%);
    --pre-highlight-line-color: hsl(350, 100%, 80%);
    --pre-token-property: hsl(310, 100%, 80%);
    --pre-token-punctuation: hsl(310, 100%, 95%);
    --pre-token-selector: hsl(150, 100%, 80%);
  }
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  /* fonts */
  --system-fonts-sans: system-ui, -apple-system, '.SFNSText-Regular',
    'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande',
    sans-serif;
  --system-fonts-mono: Consolas, 'Andale Mono WT', 'Andale Mono',
    'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco,
    'Courier New', Courier, monospace;
  --system-fonts-serif: 'Palatino Linotype', Palatino, Palladio,
    'URW Palladio L', 'Book Antiqua', Baskerville, 'Bookman Old Style',
    'Bitstream Charter', 'Nimbus Roman No9 L', Garamond, 'Apple Garamond',
    'ITC Garamond Narrow', 'New Century Schoolbook', 'Century Schoolbook',
    'Century Schoolbook L', Georgia, serif;
}

:root {
  --casl: 'CASL' 0;
  --mono: 'MONO' 0;
  --crsv: 'CRSV' 0;
  --slnt: 'slnt' 0;
}
