/* work pages */
.work.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 15rem));
  gap: 1rem;
  padding: 0;
  list-style: none;
}

.work.post {
  display: grid;
  align-content: space-between;
  border: 8px solid var(--teal-dark);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-decoration-line: none;
  transition: box-shadow 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
  grid-template-rows: 200px 1fr;
  /* background-image: repeating-linear-gradient(
    45deg,
    hsl(0 0% 30% / 0.1),
    hsl(0 0% 30% / 0.1) 10px,
    hsl(0 0% 70% / 0) 10px,
    hsl(0 0% 70% / 0) 20px
  ); */
}

.work-info-container {
  padding: 1rem;
}

.work.post:hover {
  box-shadow: 4px 4px 0 var(--Gray-50), 10px 10px 0 var(--teal-dark);
  transform: scale(1.02);
}

.work-title {
  font-size: var(--step-0);
}

.work-tags {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  flex-wrap: wrap;
}
.work-tags > * {
  font-family: var(--system-fonts-mono);
  font-size: var(--step--4);
  background: var(--teal-A700);
  color: var(--Gray-50);
  border-radius: 2em;
  margin: 0.2em 0.2em;
  line-height: 1em;
  padding: 0.4em;
}

.work-image-container {
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  border-bottom: 8px solid var(--teal-dark);
}
.work-image {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
