---
layout: layout.njk
title: Eleventy Demo
---

<div class="landing-wrapper">
  {% include 'nav.njk' %}

  <main class="landing main">
    <div class="landing header-wrapper">
      <h1 class="main header">Joe Sahlsa</h1>
      <h2 class="main subhead">
        A website for a sloppy designer, and amateurish web developer
      </h2>
    </div>
  </main>

  <div class="landing-image"></div>
  {% include 'footer.njk' %}
</div>
