@import 'styles/variables.css';
@import 'styles/reset.css';
@import 'styles/global.css';
@import 'styles/nav.css';
@import 'styles/footer.css';
@import 'styles/landing-page.css';
@import 'styles/blog.css';
@import 'styles/work.css';
@import 'styles/code.css';

@font-face {
  font-family: 'RecVar';
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
  font-display: swap;
  src: url('fonts/Recursive_VF_1.078--subset_range_english_basic.woff2')
    format('woff2');
  unicode-range: U+0020-007F, U+00A9, U+2190-2193, U+2018, U+2019, U+201C,
    U+201D, U+2022;
}

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */

/* Global Styles */

/* for next and previous styles */
.previous-next {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: var(--blog-item-clamp);
}

.next-post {
  text-align: right;
}
.next-post::after,
.previous-post::before {
  --mono: 'MONO' 1;
  font-weight: 800;
  font-size: var(--step--3);
}
.next-post::after {
  content: '>';
  margin-left: 1ch;
}
.previous-post::before {
  content: '<';
  margin-right: 1ch;
}

.post-nav {
  font-family: RecVar, var(--system-fonts-mono);
  font-size: var(--step--4);
  color: var(--teal-A700);
  background: var(--Gray-50);
  border: var(--teal-A700) 4px solid;
  padding: 0.2rem 0.6rem;
  box-shadow: 4px 4px 0 var(--teal-A700);
  text-decoration: none;
}

.post-nav:hover {
  background: var(--teal-A700);
  color: var(--Gray-50);
  border: 4px solid var(--teal-A700);
  box-shadow: -4px -4px var(--teal-A700);
}

/* mardown-it anchor styling */

h2 > a,
h3 > a,
h4 > a {
  color: var(--orange-500);
  text-decoration: none;
}

h2 > a:hover,
h3 > a:hover,
h4 > a:hover {
  text-decoration: underline;
}

/* disable anchors on subheads */
h1 + h2 > a {
  color: var(--Gray-600);
  text-decoration: none;
  cursor: inherit;
}
h1 + h2 > a:hover {
  text-decoration: none;
}

html {
  visibility: visible;
  opacity: 1;
}

/* saving these styles for later maybe
body {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.main.header {
  font-size: var(--step-7);
  line-height: var(--space-3xl);
}

h1 {
  color: var(--primary-orange);
  font-size: var(--step-5);
  line-height: var(--space-2xl);
  max-width: 15ch;
  font-weight: var(--font-weight);
  font-family: 'RecVar', var(--system-fonts-sans);
  font-variation-settings: 'MONO' var(--MONO), 'CASL' var(--CASL),
    'slnt' var(--slnt), 'CRSV' var(--CRSV);
  transition: 1s;
}

h1:hover {
  font-weight: 900;
  --CRSV: 0.75;
}

h2 {
  font-family: 'RecVar', var(--system-fonts-sans);
  color: var(--orange-800);
  font-size: var(--step-3);
  line-height: var(--space-l);
  font-variation-settings: 'CASL' 1;
}

p {
  font-size: var(--step--1);
}

html {
  font-family: var(--system-fonts-sans);
  color: var(--text-black);
  background: var(--text-white);
  line-height: 1.6;
}

ul {
  list-style: decimal-leading-zero;
  
}

.blog.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 3rem;
  padding: 3rem;
}

.blog.post {
  border: var(--orange-600) solid 5px;
  padding: 2rem;
  position: relative;
}

.blog.post::after {
  all: unset;
  content: '';
  position: absolute;
  
  width: 100%;
  height: 100%;
  border: #008e76 3px solid;
  transform: translate(-190px, -3px);
}

a {
  color: #008e76;
  text-decoration: none;
  box-shadow: #008e76 0 2px;
  transition: all 0.2s ease-in-out;
}

a:hover {
  box-shadow: #008e76 0 4px;
}

pre,
code {
  font-family: var(--system-fonts-mono);
}

code {
  background: lightgray;
}
.theme-color {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border-radius: 50%;
}

.primary-light {
  background: var(--primary-orange);
}

.secondary-light {
  background: var(--teal-A700);
}

.highlight-line-add {
  background: hsla(89, 100%, 30%, 0.7);
  text-decoration: none;
}
.highlight-line-remove {
  background: hsla(0, 100%, 50%, 0.5);
  text-decoration: none;
}

pre[class*='language-'] {
  padding-left: 0;
}

pre {
  counter-reset: lineNumber;
}
code .highlight-line:before {
  user-select: none;
  border-right: 1px solid #404040;
  color: #fafafa;
  content: counter(lineNumber);
  counter-increment: lineNumber;
  display: inline-block;
  font-variant-numeric: tabular-nums;
  margin-right: 1.2em;
  padding-right: 1.2em;
  text-align: right;
  width: 2.4em;
}
*/

/* prevent FOUC */
html {
  visibility: visible;
}
