@font-face {
  font-family: 'RecVar';
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
  font-display: swap;
  src: url('fonts/Recursive_VF_1.078--subset_range_english_basic.woff2')
    format('woff2');
  unicode-range: U+0020-007F, U+00A9, U+2190-2193, U+2018, U+2019, U+201C,
    U+201D, U+2022;
}
:root {
  --primary-orange: hsl(26, 100%, 50%);
  --orange-800: hsl(34, 100%, 50%);
  --orange-700: hsl(38, 100%, 50%);
  --orange-600: hsl(42, 100%, 50%);
  --orange-500: hsl(45, 100%, 51%);
  --orange-400: hsl(45, 100%, 58%);
  --orange-300: hsl(46, 100%, 65%);
  --orange-200: hsl(45, 100%, 75%);
  --orange-100: hsl(45, 100%, 85%);
  --amber: hsl(46, 100%, 94%);
  --orange-A700: hsl(40, 100%, 50%);
  --teal-A400: hsl(165, 82%, 51%);
  --teal-A700: hsl(172, 100%, 38%);
  --teal-dark: #008e76;
  --text-black: #424242;
  --text-white: #fafafa;
  --orange-dark: hsl(26, 100%, 10%);
  --Gray-50: #fafafa;
  --Gray-100: #f5f5f5;
  --Gray-200: #eeeeee;
  --Gray-300: #e0e0e0;
  --Gray-400: #bdbdbd;
  --Gray-500: #9e9e9e;
  --Gray-600: #757575;
  --Gray-700: #616161;
  --Gray-800: #424242;
  --Gray-900: #212121;
  /* colors for prism */
  --pre-background: hsl(45, 100%, 85%);
  --pre-border: hsla(0, 0%, 40%, 1);
  --pre-shadow: hsl(0, 10, 10);
  --pre-token-keyword: hsl(233, 54%, 35%);
  --pre-token-function: hsl(20, 50%, 50%);
  --pre-token-operator: hsl(150, 50%, 50%);
  --pre-token-parameter: hsl(78, 50%, 50%);
  --pre-highlight-line-color: hsl(350, 50%, 50%);
  --pre-token-property: hsl(310, 50%, 50%);
  --pre-token-punctuation: hsl(310, 50%, 10%);
  --pre-token-selector: hsl(150, 50%, 50%);
  /* custom properties for fluid tye */
  --step--4: clamp(0.63rem, 0.64rem + -0.02vw, 0.61rem);
  --step--3: clamp(0.76rem, 0.76rem + 0.01vw, 0.77rem);
  --step--2: clamp(0.91rem, 0.9rem + 0.05vw, 0.96rem);
  --step--1: clamp(1.09rem, 1.07rem + 0.11vw, 1.2rem);
  --step-0: clamp(1.31rem, 1.27rem + 0.2vw, 1.5rem);
  --step-1: clamp(1.58rem, 1.51rem + 0.32vw, 1.88rem);
  --step-2: clamp(1.89rem, 1.79rem + 0.49vw, 2.34rem);
  --step-3: clamp(2.27rem, 2.13rem + 0.72vw, 2.93rem);
  --step-4: clamp(2.72rem, 2.52rem + 1.02vw, 3.66rem);
  --step-5: clamp(3.27rem, 2.98rem + 1.42vw, 4.58rem);
  --step-6: clamp(3.92rem, 3.53rem + 1.95vw, 5.72rem);
  --step-7: clamp(6rem, 5.75rem + 3.15vw, 13rem);
  /* custom properties for fluid line height */

  --fluid-min-width: 320;
  --fluid-max-width: 1140;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );

  /* hue rotate custom property */
  --rotation: 180deg;

  --blog-item-clamp: clamp(16rem, 87vw, 35rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --Gray-50: #212121;
    --teal-dark: hsl(165, 82%, 51%);
    --teal-A400: hsl(165, 82%, 10%);
    --Gray-600: hsl(0, 0%, 70%);
    --Gray-800: #f5f5f5;
    --orange-dark: #f5f5f5;
    --Gray-200: #424242;
    --orange-A700: hsl(45, 100%, 51%);
    --orange-500: hsl(46, 100%, 65%);
    --pre-background: hsl(45, 20%, 10%);
    --pre-border: hsla(0, 0%, 70%, 1);
    --pre-shadow: hsla(0, 100%, 100%, 0.2);
    --pre-token-keyword: hsl(233, 100%, 85%);
    --pre-token-function: hsl(50, 100%, 80%);
    --pre-token-operator: hsl(150, 50%, 70%);
    --pre-token-parameter: hsl(78, 50%, 70%);
    --pre-highlight-line-color: hsl(350, 100%, 80%);
    --pre-token-property: hsl(310, 100%, 80%);
    --pre-token-punctuation: hsl(310, 100%, 95%);
    --pre-token-selector: hsl(150, 100%, 80%);
  }
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --fc-3xs-min: (var(--fc-s-min) * 0.25);
  --fc-3xs-max: (var(--fc-s-max) * 0.25);

  --fc-2xs-min: (var(--fc-s-min) * 0.5);
  --fc-2xs-max: (var(--fc-s-max) * 0.5);

  --fc-xs-min: (var(--fc-s-min) * 0.75);
  --fc-xs-max: (var(--fc-s-max) * 0.75);

  --fc-s-min: (var(--f-0-min, 21));
  --fc-s-max: (var(--f-0-max, 24));

  --fc-m-min: (var(--fc-s-min) * 1.5);
  --fc-m-max: (var(--fc-s-max) * 1.5);

  --fc-l-min: (var(--fc-s-min) * 2);
  --fc-l-max: (var(--fc-s-max) * 2);

  --fc-xl-min: (var(--fc-s-min) * 3);
  --fc-xl-max: (var(--fc-s-max) * 3);

  --fc-2xl-min: (var(--fc-s-min) * 4);
  --fc-2xl-max: (var(--fc-s-max) * 4);

  --fc-3xl-min: (var(--fc-s-min) * 6);
  --fc-3xl-max: (var(--fc-s-max) * 6);

  /* T-shirt sizes */
  --space-3xs: calc(
    ((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-3xs-max) - var(--fc-3xs-min)) *
      var(--fluid-bp)
  );
  --space-2xs: calc(
    ((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-2xs-min)) *
      var(--fluid-bp)
  );
  --space-xs: calc(
    ((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) *
      var(--fluid-bp)
  );
  --space-s: calc(
    ((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) *
      var(--fluid-bp)
  );
  --space-s-m: calc(
    ((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) *
      var(--fluid-bp)
  );
  --space-m: calc(
    ((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) *
      var(--fluid-bp)
  );
  --space-l: calc(
    ((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) *
      var(--fluid-bp)
  );
  --space-xl: calc(
    ((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) *
      var(--fluid-bp)
  );
  --space-2xl: calc(
    ((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) *
      var(--fluid-bp)
  );
  --space-3xl: calc(
    ((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) *
      var(--fluid-bp)
  );

  /* One-up pairs */
  --space-3xs-2xs: calc(
    ((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-3xs-min)) *
      var(--fluid-bp)
  );
  --space-2xs-xs: calc(
    ((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-2xs-min)) *
      var(--fluid-bp)
  );
  --space-xs-s: calc(
    ((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-xs-min)) *
      var(--fluid-bp)
  );
  --space-s-m: calc(
    ((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) *
      var(--fluid-bp)
  );
  --space-m-l: calc(
    ((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) *
      var(--fluid-bp)
  );
  --space-l-xl: calc(
    ((var(--fc-l-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-l-min)) *
      var(--fluid-bp)
  );
  --space-xl-2xl: calc(
    ((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-xl-min)) *
      var(--fluid-bp)
  );
  --space-2xl-3xl: calc(
    ((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-2xl-min)) *
      var(--fluid-bp)
  );

  /* one up pairs */
  --space-3xs-2xs: calc(
    ((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-3xs-min)) *
      var(--fluid-bp)
  );
  --space-2xs-xs: calc(
    ((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-2xs-min)) *
      var(--fluid-bp)
  );
  --space-xs-s: calc(
    ((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-xs-min)) *
      var(--fluid-bp)
  );
  --space-s-m: calc(
    ((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) *
      var(--fluid-bp)
  );
  --space-m-l: calc(
    ((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) *
      var(--fluid-bp)
  );
  --space-l-xl: calc(
    ((var(--fc-l-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-l-min)) *
      var(--fluid-bp)
  );
  --space-xl-2xl: calc(
    ((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-xl-min)) *
      var(--fluid-bp)
  );
  --space-2xl-3xl: calc(
    ((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-2xl-min)) *
      var(--fluid-bp)
  );

  /* fonts */
  --system-fonts-sans: system-ui, -apple-system, '.SFNSText-Regular',
    'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande',
    sans-serif;
  --system-fonts-mono: Consolas, 'Andale Mono WT', 'Andale Mono',
    'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco,
    'Courier New', Courier, monospace;
  --system-fonts-serif: 'Palatino Linotype', Palatino, Palladio,
    'URW Palladio L', 'Book Antiqua', Baskerville, 'Bookman Old Style',
    'Bitstream Charter', 'Nimbus Roman No9 L', Garamond, 'Apple Garamond',
    'ITC Garamond Narrow', 'New Century Schoolbook', 'Century Schoolbook',
    'Century Schoolbook L', Georgia, serif;
}

:root {
  --casl: 'CASL' 0;
  --mono: 'MONO' 0;
  --crsv: 'CRSV' 0;
  --slnt: 'slnt' 0;
}

/* Reset elements taken from Elad Schecter, Andy Bell, and Josh Comeau */
/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Global Styles */

html {
  font-family: var(--system-fonts-serif);
  line-height: var(--space-s);
  font-size: var(--step-0);
  color: var(--orange-dark);
  background: var(--Gray-50);
  height: 100%;
}

.pages-body {
  display: grid;
  align-content: space-between;
  min-height: 100vh;
}

a,
input[type='radio'],
input[type='checkbox'],
input[type='submit'],
button {
  cursor: pointer;
}

header {
  margin-bottom: 3rem;
}
a {
  color: var(--teal-dark);
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a:hover {
  text-underline-offset: 8px;
}

p {
  font-family: 'Aleo', var(--system-fonts-serif);
  line-height: 1.7;
  margin: 1.5em 0 1em;
  color: var(--Gray-800);
  max-width: 60ch;
}

ul,
ol {
  list-style: initial;
  padding: revert;
  font-family: RecVar, var(--system-fonts-sans);
}

.cp_embed_wrapper {
  width: var(--blog-item-clamp);
}
/* set width of all pages except landing */
.home {
  margin: 0 auto;
  max-width: clamp(16rem, 87vw, 55rem);
  margin-top: 4rem;
}

/* for all h1s except landing */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: RecVar, var(--system-fonts-mono);
  font-variation-settings: var(--mono), var(--casl), var(--crsv), var(--slnt);
}

h1 {
  --mono: 'MONO' 0.3;
  --crsv: 'CRSV' 1;
  --casl: 'CASL' 0.4;
  font-weight: 800;
  font-size: var(--step-4);
  max-width: 15ch;

  line-height: var(--space-l-xl);
  color: var(--orange-A700);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  max-width: 15ch;
}

h1:hover {
  --mono: 'MONO' 0.7;
  letter-spacing: -0.1rem;
  font-weight: 900;
}

/* different styles for subheads */
h1 + h2 {
  --slnt: -7;
  font-size: var(--step-0);
  font-weight: 300;
  font-variation-settings: 'slnt' var(--slnt);
  color: var(--Gray-800);
  margin: 0.3em 0 1em 0;
}

h2 {
  --casl: 'CASL' 1;
  --mono: 'MONO' 0;
  width: clamp(10ch, 87vw, 30ch);
  margin: 1.5rem 0 0.5rem 0;
  font-size: var(--step-2);
  line-height: 1.2;
  font-weight: 600;
  font-variation-settings: var(--mono), var(--casl);
  color: var(--orange-600);
}

h5 {
  --mono: 'MONO' 1;
  color: var(--orange-600);
  font-weight: 800;
  margin: 1em 0 0.5em 0;
  font-size: var(--step-1);
  font-variation-settings: var(--mono), var(--casl);
}

header {
  margin: 0;
  width: clamp(16rem, 87vw, 75rem);
  margin: 0 auto;
}

.sitenav__container {
  padding: 2rem 0.7rem;
  display: flex;
  margin: 0;
  width: clamp(16rem, 87vw, 40rem);
  position: relative;
}

.sitenav__container > ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-left: auto;
  gap: clamp(1rem, 1rem + 2vw, 3rem);
}
.sitenav__container * a {
  --mono: 0;
  --casl: 0.5;
  font-variation-settings: 'MONO' var(--mono), 'CASL' var(--casl);
  font-weight: 700;
  background: var(--Gray-50);
  color: var(--teal-dark);
  border: 4px solid var(--teal-dark);
  box-shadow: 5px 5px var(--teal-dark);
  padding: 0.25rem 0.5rem;
  font-family: RecVar, var(--system-fonts-mono);
  text-decoration: none;
  text-transform: uppercase;
}
.sitenav__container * a:visited {
  background: var(--Gray-50);
  color: var(--teal-dark);
  border: 4px solid var(--teal-dark);
  box-shadow: -5px -5px var(--teal-dark);
  opacity: 0.1;
}
.sitenav__container * a:hover {
  background: var(--teal-dark);
  color: var(--Gray-50);
  border: 4px solid var(--teal-dark);
  box-shadow: -5px -5px var(--teal-dark);
}
.sitenav__container * a:active {
  background: var(--teal-dark);
  color: var(--Gray-50);
  border: 4px solid var(--teal-dark);
  box-shadow: -5px -5px var(--teal-dark);
}

/* footer */
footer {
  display: grid;
  place-content: center;
  background: var(--teal-A400);
  color: var(--teal-dark);
  border-top: var(--teal-dark) 4px solid;
  padding: 0.3rem;
  margin-top: 2rem;
  width: 100vw;
  font-family: RecVar, var(--system-fonts-mono);
  text-transform: uppercase;
  font-size: var(--step--3);
}

.outside-link > svg {
  height: 1rem;
}

.footer-content > a {
  display: inline-grid;
  transform: translateY(5px);
  margin-left: 0.5rem;
}

.footer-logo {
  fill: var(--teal-dark);
}

/* Landing page */

.landing-wrapper {
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  display: grid;
  align-content: space-between;
}

.landing-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 130%;
  background: url(/images/pipesweyes.svg) center no-repeat;
  background-size: cover;
  opacity: 0.2;
  mix-blend-mode: multiply;
  z-index: -1;
  filter: hue-rotate(var(--rotation));
  transition: filter 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@media (prefers-color-scheme: dark) {
  .landing-wrapper::after {
    opacity: 1;
    mix-blend-mode: color;
  }
}

.landing.main {
  display: grid;
  place-items: center;
  width: var(--blog-item-clamp);
  margin: 0 auto;
}

/* svg logo */
.logo-fill {
  fill: var(--orange-A700);
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.bottom-logo:hover,
.middle-logo:hover,
.top-logo:hover {
  fill: var(--teal-dark);
}

.logo {
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  padding: 0.2em;
}

.logo:hover {
  transform: translateY(0.2rem);
  transform: scale(1.1);
}

/* specific element styling landing page */
.landing-body {
  overflow-x: hidden;
}

.landing h1 {
  --casl: 'CASL' 0.5;
  --crsv: 'CRSV' 0.5;
  font-weight: 700;
  font-size: var(--step-6);
  font-variation-settings: var(--mono), var(--crsv), var(--casl);
  text-shadow: 1px 1px 0 var(--Gray-800), 1px -1px 0 var(--orange-500), -1px 1px 0 var(--orange-500), -1px -1px 0 var(--orange-500), 2px 2px 0 var(--orange-500), 3px 3px 0 var(--orange-500), 4px 4px 0 var(--orange-500), 5px 5px 0 var(--orange-500);
}

.landing h2 {
  --casl: 'CASL' 1;
  --mono: 'MONO' 0;
  margin: 0;
  font-size: var(--step-1);
  font-weight: 300;
  font-variation-settings: var(--mono), var(--casl);
  line-height: var(--space-s-m);
  color: var(--Gray-800);
  margin-top: 0.5rem;
}

@media (max-width: 1000px) {
  .landing-image {
    position: absolute;
    bottom: 0;
    right: -15rem;
    width: 40rem;
    height: 100rem;
    background-image: url(images/pipesweyes.svg);
    background-repeat: no-repeat;
    background-position: bottom;

    overflow: hidden;
  }

  .landing h2 {
    max-width: 20ch;
    line-height: var(--space-m);
  }

  h1 {
    line-height: 1.1;
  }
}

/* specific blog items */
.blog.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 17rem));
  gap: 1rem;
  padding: 0;
  list-style: none;
}

.blog.post {
  display: grid;
  align-content: space-between;
  border: 4px solid var(--teal-dark);
  padding: 1rem;
  text-decoration: none;
  transition: box-shadow 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.blog.post:hover {
  box-shadow: 4px 4px 0 var(--Gray-50), 10px 10px 0 var(--teal-dark);
  transform: scale(1.02);
}

.blog-list.dates + p {
  display: none;
}
.blog-list.dates {
  margin-top: 0;
  font-size: var(--step--3);
}

.blog-tags {
  list-style: none;
  display: flex;
  padding: 0;
}
.blog-tags > * {
  font-family: var(--system-fonts-mono);
  font-size: var(--step--4);
  background: var(--teal-A700);
  color: var(--Gray-50);
  border-radius: 2em;
  margin-right: 0.5em;
  line-height: 1em;
  padding: 0.4em;
}

.page-dates {
  color: var(--Gray-50);
  font-size: var(--step--3);
  text-transform: uppercase;
  background: var(--teal-dark);
  width: max-content;
  padding: 0.3rem 0.3rem 0.2rem 0.3rem;
  line-height: 1;
  margin: 1em 0;
}

/* for next and previous styles */
.previous-next {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: var(--blog-item-clamp);
}

.next-post {
  text-align: right;
}
.next-post::after,
.previous-post::before {
  --mono: 'MONO' 1;
  font-weight: 800;
  font-size: var(--step--3);
}
.next-post::after {
  content: '>';
  margin-left: 1ch;
}
.previous-post::before {
  content: '<';
  margin-right: 1ch;
}

.post-nav {
  font-family: RecVar, var(--system-fonts-mono);
  font-size: var(--step--4);
  color: var(--teal-A700);
  background: var(--Gray-50);
  border: var(--teal-A700) 4px solid;
  padding: 0.2rem 0.6rem;
  box-shadow: 4px 4px 0 var(--teal-A700);
  text-decoration: none;
}

.post-nav:hover {
  background: var(--teal-A700);
  color: var(--Gray-50);
  border: 4px solid var(--teal-A700);
  box-shadow: -4px -4px var(--teal-A700);
}

/* mardown-it anchor styling */

h2 > a,
h3 > a,
h4 > a {
  color: var(--orange-500);
  text-decoration: none;
}

h2 > a:hover,
h3 > a:hover,
h4 > a:hover {
  text-decoration: underline;
}

/* disable anchors on subheads */
h1 + h2 > a {
  color: var(--Gray-600);
  text-decoration: none;
  cursor: inherit;
}
h1 + h2 > a:hover {
  text-decoration: none;
}

/* code */
pre[class*='language-'] {
  padding: 2em 2em 1em 2em;
  margin: 1em 0;
  overflow: auto;
}

pre,
code {
  font-family: var(--system-fonts-mono);
}

pre {
  width: var(--blog-item-clamp);
  font-size: 10px;
}

:not(pre) > code {
  background: var(--Gray-200);
  padding: 0.1em 0.2em;
  border-radius: 5px;
  border: 1px solid var(--teal-A400);
  font-size: var(--step--3);
}

@media (prefers-color-scheme: dark) {
  :not(pre) > code {
    --teal-A400: white;
    border: 1px solid hsl(165, 82%, 51%);
  }
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--pre-background);
  border: var(--pre-border) solid 3px;
  color: #008e76;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* type of code for pres */
code[class*='language-'],
pre[class*='language-'] {
  color: white;
  text-shadow: 1px 1px var(--pre-shadow);
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.8rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  position: relative;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.language-name {
  position: absolute;
  font-family: var(--system-fonts-mono), monospace;
  padding: 0 10px;
  color: var(--pre-background);
  background: var(--pre-border);
  font-size: 12px;
  line-height: 1.8em;
}

.token.parameter {
  color: var(--pre-token-parameter);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--Gray-800);
  opacity: 0.4;
}

.token.punctuation {
  color: var(--Gray-800);
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--pre-token-property);
}

.token.boolean,
.token.number {
  color: var(--pre-token-property);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--pre-token-selector);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--pre-token-operator);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: var(--pre-token-function);
}

.token.keyword {
  color: var(--pre-token-keyword);
}

.token.regex,
.token.important {
  color: #fd971f;
}

.highlight-line {
  color: var(--pre-highlight-line-color);
}

html {
  visibility: visible;
  opacity: 1;
}

/* saving these styles for later maybe
body {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.main.header {
  font-size: var(--step-7);
  line-height: var(--space-3xl);
}

h1 {
  color: var(--primary-orange);
  font-size: var(--step-5);
  line-height: var(--space-2xl);
  max-width: 15ch;
  font-weight: var(--font-weight);
  font-family: 'RecVar', var(--system-fonts-sans);
  font-variation-settings: 'MONO' var(--MONO), 'CASL' var(--CASL),
    'slnt' var(--slnt), 'CRSV' var(--CRSV);
  transition: 1s;
}

h1:hover {
  font-weight: 900;
  --CRSV: 0.75;
}

h2 {
  font-family: 'RecVar', var(--system-fonts-sans);
  color: var(--orange-800);
  font-size: var(--step-3);
  line-height: var(--space-l);
  font-variation-settings: 'CASL' 1;
}

p {
  font-size: var(--step--1);
}

html {
  font-family: var(--system-fonts-sans);
  color: var(--text-black);
  background: var(--text-white);
  line-height: 1.6;
}

ul {
  list-style: decimal-leading-zero;
  
}

.blog.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 3rem;
  padding: 3rem;
}

.blog.post {
  border: var(--orange-600) solid 5px;
  padding: 2rem;
  position: relative;
}

.blog.post::after {
  all: unset;
  content: '';
  position: absolute;
  
  width: 100%;
  height: 100%;
  border: #008e76 3px solid;
  transform: translate(-190px, -3px);
}

a {
  color: #008e76;
  text-decoration: none;
  box-shadow: #008e76 0 2px;
  transition: all 0.2s ease-in-out;
}

a:hover {
  box-shadow: #008e76 0 4px;
}

pre,
code {
  font-family: var(--system-fonts-mono);
}

code {
  background: lightgray;
}
.theme-color {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border-radius: 50%;
}

.primary-light {
  background: var(--primary-orange);
}

.secondary-light {
  background: var(--teal-A700);
}

.highlight-line-add {
  background: hsla(89, 100%, 30%, 0.7);
  text-decoration: none;
}
.highlight-line-remove {
  background: hsla(0, 100%, 50%, 0.5);
  text-decoration: none;
}

pre[class*='language-'] {
  padding-left: 0;
}

pre {
  counter-reset: lineNumber;
}
code .highlight-line:before {
  user-select: none;
  border-right: 1px solid #404040;
  color: #fafafa;
  content: counter(lineNumber);
  counter-increment: lineNumber;
  display: inline-block;
  font-variant-numeric: tabular-nums;
  margin-right: 1.2em;
  padding-right: 1.2em;
  text-align: right;
  width: 2.4em;
}
*/

/* prevent FOUC */
html {
  visibility: visible;
}
